<div id="<%= dom_id contact %>">
  <p class="fs-1 fw-semibold">
    <%= contact.first_name + ' ' + contact.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= contact.instagram %>
  </p>
</div>
